<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">{{ site.name }}</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/list.html">List</a></li>
      <li><a href="{{ site.baseurl }}/links.html">Links</a></li>
      <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
      <li><a href="{{ site.baseurl }}/about.html">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><img src="{{ site.baseurl }}/images/logo.png" alt="MODULE" style="max-width:200px" /><a href="{{ site.baseurl }}/"><h1 class="brand">MODULE<br>WhitePaper</h1></a><!-- <h3>{{ site.description }}</h3> --></li>
    <hr />
    <li><a class="navToggle">EN</a>
			<ul class="navInner child">
				<li><a href="{{ site.baseurl }}/docs/en/index/">Index</a></li>
				<li><a href="{{ site.baseurl }}/docs/en/00_disclaimer_of_liability/">00.Discrimer of Liaty</a></li>
				<li><a href="{{ site.baseurl }}/docs/en/01_summary/">01.Discrimer of Liaty</a></li>
				<li><a href="{{ site.baseurl }}/docs/en/02_introduction/">02.Projects</a></li>
				<li><a href="{{ site.baseurl }}/docs/en/03_technology/">03．Technology</a></li>
				<li><a href="{{ site.baseurl }}/docs/en/04_app/">04．MODULE Application</a></li>
				<li><a href="{{ site.baseurl }}/docs/en/05_utilitytoken/">05．About Utility Token</a></li>
				<li><a href="{{ site.baseurl }}/docs/en/06_usecase/">06．Use Case</a></li>
				<li><a href="{{ site.baseurl }}/docs/en/07_token_modl/">07．Token - MODL</a></li>
				<li><a href="{{ site.baseurl }}/docs/en/08_market/">08．Market Strategy</a></li>
				<li><a href="{{ site.baseurl }}/docs/en/09_roadmap/">09．Road Map</a></li>
				<li><a href="{{ site.baseurl }}/docs/en/10_team/">10．Team Advisor Partner</a></li>
				<li><a href="{{ site.baseurl }}/docs/en/11_risk/">11．Risk</a></li>
				<li><a href="{{ site.baseurl }}/docs/en/12_outro/">12．Outro</a></li>
			</ul>
		</li>
		
    <li><a class="navToggle">JP</a>
			<ul class="navInner child">
				<li><a href="{{ site.baseurl }}/docs/ja/index/">目次</a></li>
				<li><a href="{{ site.baseurl }}/docs/ja/00_disclaimer_of_liability/">00.免責事項</a></li>
				<li><a href="{{ site.baseurl }}/docs/ja/01_summary/">01.要約</a></li>
				<li><a href="{{ site.baseurl }}/docs/ja/02_introduction/">02.イントロダクション</a></li>
				<li><a href="{{ site.baseurl }}/docs/ja/03_technology/"></a>03．技術概要</li>
				<li><a href="{{ site.baseurl }}/docs/ja/04_app/"></a>04．MODULE App</li>
				<li><a href="{{ site.baseurl }}/docs/ja/05_utilitytoken/"></a>05．ユーティリティトークンについて</li>
				<li><a href="{{ site.baseurl }}/docs/ja/06_usecase/"></a>06．ユースケース</li>
				<li><a href="{{ site.baseurl }}/docs/ja/07_token_modl/"></a>07．トークンについて</li>
				<li><a href="{{ site.baseurl }}/docs/ja/08_market/"></a>08．マーケット戦略</li>
				<li><a href="{{ site.baseurl }}/docs/ja/09_roadmap/"></a>09．ロードマップ</li>
				<li><a href="{{ site.baseurl }}/docs/ja/10_team/"></a>10．チームアドバイザーパートナー</li>
				<li><a href="{{ site.baseurl }}/docs/ja/11_risk/"></a>11．リスク</li>
				<li><a href="{{ site.baseurl }}/docs/ja/12_outro/"></a>12．アウトロ</li>
			</ul>
		</li>
    <hr />
    <div id="social-wrapper">
      <li> <a href="{{ site.twitter }}"><i class="fa fa-twitter-square"></i> @twitter</a></li>
      <li> <a href="{{ site.linkedin }}"><i class="fa fa-linkedin-square"></i> linkedin</a> </li>
      <li> <a href="{{ site.facebook }}"><i class="fa fa-facebook-square"></i> facebook</a></li>
      <li> <a href="{{ site.github }}"><i class="fa fa-github-square"></i> github</a> </li>
    </div>
  </ul>
</div>
